@font-face {
  font-family: 'GrtskGiga';
  src: url('../fonts/GrtskGiga-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GrtskGiga-Bold';
  src: url('../fonts/GrtskGiga-Bold.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
