@import "fonts";
@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'GrtskGiga', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  background-color: $background-color;
  color: $text-color;
}

@media (min-width: $desktop) {
  body {
    font-size: 16px;
  }
}
